html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vmin;
    font-family: 'Karla', sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.heartcontainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.heart {
    width: 50vmin;
    height: 50vmin;
    border-radius: 25vmin;
    background-color: red;
    background: radial-gradient(at center, red, rgb(237, 0, 0), rgb(165, 0, 0));
    transform-origin: center;
    animation-name: heartbeat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    filter: blur(0.075rem)
}

@keyframes heartbeat {
    0% {
        transform: scale( 1);
    }
    20% {
        transform: scale( 1.25)
    }
    40% {
        transform: scale( 1.5)
    }
}

@keyframes heartbeatBig {
    0% {
        transform: scale( 1);
    }
    20% {
        transform: scale( 1.5)
    }
    40% {
        transform: scale( 2)
    }
}

.messagecontainer {
    position: absolute;
    width: 5rem;
    text-align: center;
    /* background-color: white; */
    z-index: 2;
    animation: heartbeatBig;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.message {
    text-align: center;
    line-height: 0.2rem;
    color: white;
    opacity: 0%;
    transition-property: opacity;
    transition-duration: 1s;
    /* filter: blur(0.005rem); */
}

.message.visible {
    display: block;
    opacity: 100%;
    transition-property: opacity;
    transition-duration: 3s;
}

.message.numbers {
    font-size: 0.8rem;
    font-family: 'Courier Prime', monospace;
}

.buttoncontainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0);
    /* border-width: .03rem;
    border-color: white; */
    /* border-style: solid; */
    text-align: center;
    z-index: 3;
    animation: heartbeatBig;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    filter: blur(0.005rem);
}

.button.visible {
    opacity: 100%;
    display: block;
    pointer-events: all;
}

.button {
    text-align: center;
    color: white;
    opacity: 0%;
    transition-property: opacity;
    transition-duration: 1s;
    pointer-events: none;
    cursor: pointer;
}

.polarcontainer {
    position: absolute;
    display: inline-flex;
    left: 8%;
    bottom: 6%;
    opacity: 0%;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    background: white;
    border-radius: max(0.18rem, 8px);
}

.polarcontainer.visible {
    opacity: 100%;
}

.polar {
    width: 3rem;
    min-width: 100px;
    padding: 0.5rem;
    padding-left: max(20px,0.7rem);

}
